*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --secondary: #0084FD;
    --dark: #171717;
    --primary: #9792E4;
    --secondary-light: #B5DDFF;
    --similgrey: #CDCBF2;
    --attention: #FDC15F;
    --lighter: #FFFFFF;


}

img{
    max-width: 100%;
}

main section{
    padding-top:2rem;
    padding-bottom: 2rem;
}
/* #region utilities */

.container{
    width: 60%;
    margin: 0 auto;
}
.container_50{
    width: 50%;
    margin: auto;
}
.row{
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.column{
    flex-direction: column;
}

[class^="col_"]{
    padding: 0 1rem;
}

.col_1{
    width: calc((100% / 12) * 1);
}

.col_2{
    width: calc((100% / 12) * 2);
}

.col_3{
    width: calc((100% / 12) * 3);
}

.col_4{
    width: calc((100% / 12) * 4);
}

.col_5{
    width: calc((100% / 12) * 5);
}

.col_6{
    width: calc((100% / 12) * 6);
}

.col_7{
    width: calc((100% / 12) * 7);
}

.col_8{
    width: calc((100% / 12) * 8);
}

.col_9{
    width: calc((100% / 12) * 9);
}

.col_10{
    width: calc((100% / 12) * 10);
}

.col_11{
    width: calc((100% / 12) * 11);
}

.col_12{
    width: calc((100% / 12) * 12);
}

.flex{
    display: flex;
}

.width_100{
    width: 100%;
    margin-bottom: 2rem;
}



/* #endregion utilities */

/* #region debug */

.debug header{
    height: 80px;
}

.debug [class^="col_"]{
    height: 200px;
    border: 2px solid red;
}

/* #endregion debug */

/* #region header */

header{
    background-color:var(--secondary);
    
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    
}

nav .menu_right{
    display: flex;

}

header .menu_right a{
    text-decoration: none;
    margin-left: 2rem;
    color: var(--lighter);
}

header ul{
    list-style: none;
}

#get_started_head{
    background-color: var(--lighter);
    color: var(--dark);
    border: 1px solid var(--lighter);
    border-radius: 40px;
    padding: 0.4rem;
}




/* #endregion header */

/* #region main */

/* star app */

.app h3{
    color: var(--secondary);
    margin: 1rem 0;
}


.app p{
    margin-bottom: 1.5rem;
    line-height: 20px;
    font-size: 15px;
}
.app a{
    color: var(--lighter);
    padding: 0.5rem 2rem;
    border: 1px solid var(--secondary);
    border-radius: 40px;
    margin-top: 1rem;
    text-decoration: none;
    background-color: var(--secondary);
    font-size: 15px;
}

.app img{
    margin-top: 2.5rem;
}

main .app .card{
    background-color: var(--secondary-light);
    border: 1px solid var(--secondary-light);
    border-radius: 20px;
    padding: 2rem;
}

main .app .tools{
    text-align: center;
    
}

main .app .tools i{
    font-size: 60px;
    color: var(--secondary);
    padding-top: 1rem;
}


/* start planning */

main .planning{
    background-color: var(--primary);
    color: var(--lighter);
    padding: 4rem 0;
}

main .planning h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main .planning p{
    font-size: 10px;
}

main .plan_container{
    background-color: var(--lighter);
    text-align: center;
    border: 1px solid var(--lighter);
    border-radius: 30px;
    height: 85%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;

}


main .planning .plan_container p{
    font-style: italic;
    color: var(--dark);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

main .planning .plan_container h4{
    font-weight: 800;
    color: var(--dark);
}

main .planning .plan_container a{
    color: var(--dark);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 50%;
    padding: 1rem;
}

main .planning_right{
    align-items: flex-end;
}

/*  start testimonials */
.testimonials p{
    font-size: 10px;
    margin-bottom: 0.8rem;
}
.testimonials .testimonials_head h3{
    color: var(--primary);
    font-size: 30px;
    margin: 1rem 0;
}

.testimonials .testimonials_head {
    text-align: center;
}

.testimonials .feedback{
    background-color: var(--primary);
    color: var(--lighter);
    border: 1px solid var(--primary);
    border-radius: 30px;
    padding: 1rem;
    align-items: center;
}

.testimonials i{
    font-size: 15px;
}

.testimonials span{
    font-weight: bold;
    font-size: 12px;
}


/* start benefits */


.benefits{
    background-color: var(--primary);
    
}

.benefits h2{
    color: var(--lighter);
    font-size: 25px;
    text-align: center;
}
.benefits .col_4{
    padding: 1rem;
}

.benefits .card{
    background-color: var(--lighter);
    border-radius: 30px;
    padding: 2rem;
}

.benefits a{
    color: var(--lighter);
    background-color: var(--primary);
    padding: 0.5rem 2rem;
    font-size: 15px;
    border-radius: 40px;
    text-decoration: none;
}

.benefits p{
    line-height: 15px;
    font-size: 10px;
    margin-bottom: 1.5rem;
}

.benefits h3{
    color: var(--primary);
    font-size: 40px;
    margin-bottom: 1rem;
}

.benefits h4{
    color: var(--primary);
    font-size: 20px;
    margin-bottom: 1rem;

}





/* #endregion main */


/* #region responsive */

@media screen and (max-width: 768px) {
    
    header .container{
        width: 100%;
        padding: 1rem 1rem;
        
    }

    .col_md_12{
        width: 100%;
    }

    .col_md_6{
        width: 50%;
    }



}

@media screen and (max-width: 480px) {
    header .container{
        width: 100%;
        padding: 1rem 1rem;
        
    }

    .col_small_12{
        width: 100%;
    }
}

